<legend>Update the author {{author.lastName}}, {{author.firstName}}</legend>
<form>
  <label for="author">First Name:</label>
  <input ng-model="item.author.firstName" type="text" value="{{author.firstName}}">
  <label for="author">Last Name:</label>
  <input ng-model="item.author.lastName" type="text" value="{{author.lastName}}">

  <div class="center-edit-delete">
    <a class="button postfix" href="/#">Cancel</a>
    <a class="button postfix" ng-click="updateAuthor(item)">Update</a>
  </div>

</form>