<h3>Authors</h3>

<div>
  <label class="add-margin">Search</label>
  <input id="search" type="text" ng-model="query"/>
  <label class="add-margin">Sort by</label>
  <select ng-model="orderProp">
    <option value="firstName">First Name</option>
    <option value="lastName">Last Name</option>
  </select>
</div>
<div class="line"></div>
<ul>
  <li ng-repeat="author in authors | filter:query | orderBy:orderProp">
    <a href="#/authors/{{author.id}}">{{author.lastName}}, {{author.firstName}}</a>
  </li>
</ul>