<!-- TO DO:
1. add comments?
2. fix authors that are actually books..
3. add font options and color choices
7. integrate with gmail
9. add flash messages -->

<h3>Quotes</h3>

<div class="layer ng-hide" ng-click="hideForm()">
</div>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label class="right inline">Search</label>
      </div>
      <div class="small-9 columns">
        <input id="search" type="text" ng-model="query" placeholder=""/>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <label class="right inline">Sort by</label>
      </div>
      <div class="small-9 columns">
        <select ng-model="orderProp">
          <option value="body">Body</option>
          <option value="author">Author</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div class="small-2 columns"></div>
        <div class="small-4 columns">
          <a class="button postfix" ng-click="showLayer()">Add New Quote</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="line"></div>

<a href="#/quotes/{{quote.id}}" class="quote" ng-repeat="quote in quotes | filter:query | orderBy:orderProp">
  <p class="quote-in-quote">{{quote.body}}</p>
  <p class="author-in-quote">
    {{quote.author.lastName}}, {{quote.author.firstName}}
  </p>
</a>

<div class="new-quote-form ng-hide">
  <h3>New Quote</h3>
  <form>
    <div class="row">
      <div class="large-12 columns">
        <label for="body">Body
          <br>
          <textarea ng-model="newItem.body" rows="4" cols="70" placeholder="To improve is to change..."></textarea>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <br>
        <label>Author First Name</label>
        <input ng-model="newItem.author.firstName" type="text" placeholder="Winston"/>
        <label>Author Last Name</label>
        <input ng-model="newItem.author.lastName" type="text" placeholder="Churchill"/>
      </div>
    </div>
      <p></p>
      <div class="small-4 columns">
        <a class="button postfix" href="#" ng-click="hideForm()">Cancel</a>
      </div>
      <div class="small-4 columns">
        <a class="button postfix" ng-click="submit(newItem); hideForm()">Add Quote</a>
      </div>
    </div>
  </form>
</div>