<div class="layer ng-hide" ng-click="hideForm()">
</div>

<div class="featured-quote">
  <p>{{quote.body}}</p>
  <p>by <a href="#/authors/{{author.id}}">{{author.lastName}}, {{author.firstName}}</a></p>
</div>
<div class="center-edit-delete">
  <a class="button postfix" href="#/quotes/edit/{{quote.id}}">Edit</a>
  <a class="button postfix" ng-click="deleteForm()">Delete</a>
</div>


<div class="delete-form ng-hide">
  <form ng-submit="sendDelete()">
    <div class="form-wrapper">
      <p>Are you sure you want to delete this quote?</p>
      <div class="center-edit-delete">
        <a class="button postfix can" href="#" ng-click="hideForm()">Cancel</a>
        <a class="button postfix" type="submit" ng-click="sendDelete()">Yes</a>
      </div>
    </div>
  </form>
</div>