<!-- TO DO:
1. add comments?
2. fix authors that are actually books..
3. add font options and color choices
7. integrate with gmail 
8. allow user to pick from pre-existing author 
9. add flash messages -->

<h3>Quotes</h3>

<div class="layer ng-hide" ng-click="hideForm()">
</div>

<div>
  <label class="add-margin">Search</label>
  <input id="search" type="text" ng-model="query"/>
  <label class="add-margin">Sort by</label>
  <select ng-model="orderProp">
    <option value="body">Body</option>
    <option value="author">Author</option>
  </select>
  <button class="new-quote-btn add-margin" ng-click="showLayer()">Add New Quote</button>
</div>

<div class="line"></div>

<div class="quote" ng-repeat="quote in quotes | filter:query | orderBy:orderProp">
  <a class="quote-in-quote" href="#/quotes/{{quote.id}}">{{quote.body}}</a>
  <p class="author-in-quote"><a href="#/authors/{{quote.author.id}}">{{quote.author.lastName}}, {{quote.author.firstName}}</a></p>
</div>

<div class="new-quote-form ng-hide">
  <h3>New Quote</h3>
  <form>
    <div class="form-wrapper">
      <div>
        <label for="body">Body</label>
        <br>
        <textarea ng-model="newItem.body" rows="4" cols="70" placeholder="To improve is to change..."></textarea>
      </div>
      <div>
        <label>Author</label>
        <br>
        <label>First</label>
        <input ng-model="newItem.author.firstName" type="text" placeholder="Winston"/>
        <label class="add-margin">Last</label>
        <input ng-model="newItem.author.lastName" type="text" placeholder="Churchill"/>
      </div>
      <p></p>
      <button class="add-margin form-button" type="submit" ng-click="submit(newItem); hideForm()">Add Quote</button>
      <a class="form-link" href="#" ng-click="hideForm()">Cancel</a>
    </div>
  </form>
</div>