<div class="layer ng-hide" ng-click="hideForm()">
</div>

<h3>{{author.lastName}}, {{author.firstName}}</h3>
<a href="#/quotes/{{quote.id}}" class="quote" ng-repeat="quote in quotes | filter:query | orderBy:orderProp">
  <p class="quote-in-quote">{{quote.body}}</p>
</a>
<br>
<div class="center-edit-delete">
  <a class="button postfix" href="#/authors/edit/{{author.id}}">Edit</a>
  <a class="button postfix" ng-click="deleteForm()">Delete</a>
</div>

<div class="delete-form ng-hide">
  <form ng-submit="sendDelete()">
    <div class="form-wrapper">
      <p>Are you sure you want to delete this author? You will also delete the author's quotes.</p>
      <a href="#" ng-click="hideForm()">Cancel</a>
      <button class="add-margin" type="submit">Yes</button>
    </div>
  </form>
</div>