%label(for="author")Author:
%input#author(type="text" name="author")

%br
%label(for="author")First Name:
%input#firstName(type="text" name="firstName")
%label(for="author")Last Name:
%input#lastName(type="text" name="lastName")