%label(for="quote")Quote:
%input#quote(type="text" name="quote[body]")

%br
%label(for="author")First Name:
%input#firstName(type="text" name="author[firstName]")
%label(for="author")Last Name:
%input#lastName(type="text" name="author[lastName]")